
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    /* padding: 1rem 2rem; */
    z-index: 10000;
    /* background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px); */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
  }
  
  .logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li a {
    color: #ccc;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 12px;
    margin: 0 8px;
    position: relative;
    transition: all 0.4s ease;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .nav-links li a:hover {
    color: purple;
    background-color: #1f1f1f;
  }
  
  .nav-links li a::before,
.nav-links li a::after {
  content: "";
  position: absolute;
  width: 8px; /* Ukuran frame dikurangi */
  height: 8px;
  border: 1.5px solid purple;
  opacity: 0;
  transition: all 0.4s ease;
}

.nav-links li a::before {
  bottom: 6px;
  left: 6px;
  border-width: 0 0 1.5px 1.5px;
}

.nav-links li a::after {
  top: 6px;
  right: 6px;
  border-width: 1.5px 1.5px 0 0;
}

.nav-links li a:hover::before {
  opacity: 1;
  bottom: -6px;
  left: -6px;
}

.nav-links li a:hover::after {
  opacity: 1;
  top: -6px;
  right: -6px;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  z-index: 11000;
}
.nav-toggle span {
  height: 3px;
  width: 25px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}
  

.nav-toggle span.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.nav-toggle span.open:nth-child(2) {
  opacity: 0;
}
.nav-toggle span.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
  /* Responsive for Mobile */
  @media (max-width: 768px) {
    .nav-toggle {
      display: flex;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      margin-top: 1rem;
    }
  
    .nav-links.active {
      display: flex;
      animation: slideDown 0.3s ease forwards;
    }
  
    .nav-links li {
      width: 100%;
    }
  
    .nav-links li a {
      display: block;
      width: 100%;
      padding: 10px 16px;
    }
  }

  .logo-image {
    height: 40px;
    width: auto;
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }